.console--wrapper {
    overflow: hidden;
    width: 350px;
    height: 100%;
    background-color: gray;
    color: white;
    word-wrap: break-word;

    .console {
        height: 100%;
        .console--message {
            height: 40px;
            padding: 8px;
            white-space: pre-line;

            &:hover {
                background-color: #333;
            }
        }
    }
}
